* {
    font-family: Poppins;
    font-weight: 500;
    color: #b4befe;
    background: transparent;
}

#window {
    background: #1e1e2e;
    margin: auto;
    border-radius: 8px;
    border: 1px solid #b4befe;
    min-width: 800px;
}

#outer-box {
    padding: 12px;
}

#img {
    margin: 6px;
}

#input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #b4befe;
}

#entry {
    padding: 8px;
    border-radius: 8px;
    transition: all 150ms linear;
    outline: 0px;
}

#entry:selected {
    background-color: #313244;
}